[submodule "libc"]
	path = libc
	url = https://github.com/TheUltimateFoxOS/libc
[submodule "libfoxos"]
	path = libfoxos
	url = https://github.com/TheUltimateFoxOS/libfoxos
[submodule "libtinf"]
	path = libtinf
	url = https://github.com/TheUltimateFoxOS/libtinf
